absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
dicom==0.9.9.post1
flake8==3.5.0
gast==0.2.0
grpcio==1.10.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
mccabe==0.6.1
networkx==2.1
numpy==1.14.2
pandas==0.22.0
pew==1.1.2
Pillow==9.3.0
pipenv==9.0.1
protobuf==3.5.2.post1
psutil==5.3.1
pycodestyle==2.3.1
pydicom==1.0.2
pyflakes==1.6.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scipy==1.0.1
seaborn==0.8.1
Shapely==1.6.4.post1
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.22
virtualenv-clone==0.2.6
Werkzeug==0.14.1
